asgiref==3.9.1
boto3==1.40.67
botocore==1.40.67
coverage==7.10.6
dj-database-url==3.0.1
Django==5.2.6
django-storages==1.14.6
gunicorn==23.0.0
jmespath==1.0.1
jsonpointer==2.1
numpy==2.3.0
packaging==25.0
pillow==11.2.1
ply==3.11
psycopg2-binary==2.9.10
PyQt5==5.15.10
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==5.3
s3transfer==0.14.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
webencodings==0.5.1
whitenoise==6.11.0