asgiref==3.9.1
coverage==7.10.6
dj-database-url==3.0.1
Django==5.2.6
gunicorn==23.0.0
jsonpointer==2.1
numpy==2.3.0
pillow==11.2.1
ply==3.11
psycopg2-binary==2.9.10
PyQt5==5.15.10
PyYAML==5.3
sqlparse==0.5.3
webencodings==0.5.1
whitenoise==6.11.0
