{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Lorb-More</title>
    <link rel="stylesheet" href="{% static 'pages/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/navbar.css' %}">
</head>

<body>

    {% include 'pages/navbar.html' %}

    <div class="container">
        <section class="team">
            <h2>Team member</h2>
            
            <div class="member-list">
                
                <div class="member-row header">
                    <span class="member-name">ชื่อ-นามสกุล</span>
                    <span class="student-id">รหัสนักศึกษา</span>
                </div>

                <div class="member-row">
                    <span class="member-name">นาย ภูริช อัมพะวา</span>
                    <span class="student-id">6710615185</span>
                </div>
                <div class="member-row">
                    <span class="member-name">นาย อธิภัทร ศูนย์สิทธิ์</span>
                    <span class="student-id">6710615292</span>
                </div>
                <div class="member-row">
                    <span class="member-name">นางสาว ลลิตา ทัศนอนันชัย</span>
                    <span class="student-id">6710615243</span>
                </div>
                <div class="member-row">
                    <span class="member-name">นางสาว ศราสิณี ณ สงขลา</span>
                    <span class="student-id">6710525020</span>
                </div>
                <div class="member-row">
                    <span class="member-name">นางสาว ปณิตา ชโนวิทย์</span>
                    <span class="student-id">6710525012</span>
                </div>
            </div>
        </section>

        <section class="project-info">
            <div class="panel">
                <h3>GitHub Repository:</h3>
                <a class="link" href="https://github.com/athiphat67/LorbMore.git" target="_blank">
                    GitHub Link
                </a>
            </div>

            <div class="panel">
                <h3>Project Overview vids:</h3>
                <a class="link" href="https://www.youtube.com/@purichampawa" target="_blank">
                    Youtube Link
                </a>
            </div>

            <div class="panel">
                <h3>Project Proposal:</h3>
                <a class="link" href="https://drive.google.com/file/d/1kjCKJ89woFFzO6xjhrz74esTJHuwXZVd/view?usp=sharing" target="_blank">
                    Proposal
                </a>
            </div>
        </section>
    </div>
</body>
</html>