{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            
            <h2 class="mb-4">{{ form_title }}</h2> <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p }}

                <hr>
                <button type="submit" class="btn btn-primary">บันทึกโพสต์</button>
                <a href="{% url 'posts:createposts' %}" class="btn btn-secondary">ยกเลิก</a>
            </form>

        </div>
    </div>
</div>
{% endblock content %}