{% load static %}

<link rel="stylesheet" href="{% static 'pages/css/navbar.css' %}">
<nav class="navbar">

  <div class="nav-left">
    <a href="{% url 'home' %}" class="logo">
      <img src="{% static 'pages/image/lorbmore_logo.png' %}" alt="Lorbmore Logo">
    </a>
  </div>

  <div class="nav-center">
    <ul class="menu">
      <li>
        <a class="nav-item {% if request.path == '/posts/hiring/' %}active{% endif %}"
          href="{% url 'posts:hiring' %}">HIRING</a>
      </li>
      <li>
        <a class="nav-item {% if request.path == '/posts/rental/' %}active{% endif %}"
          href="{% url 'posts:rental' %}">RENTAL</a>
      </li>
      <li>
        <a class="nav-item {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">ABOUT US</a>
      </li>
      <li>
        <a class="nav-item {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">CONTACT
          US</a>
      </li>
    </ul>
  </div>

  <div class="nav-right">
    {% if user.is_authenticated %}
    <div class="dropdown">
      <button class="dropbtn">
          {{ user.username }} 
          <span style="font-size: 0.8em;"> ▼ </span>
      </button>
      
      <div class="dropdown-content">
          <a href="{% url 'profile_detail' user.username %}">Profile</a>
          <a href="{% url 'posts:mypost' %}">My Posts</a>
          <a href="{% url 'posts:mybooking' %}">My Bookings</a>
          <hr>
          <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="dropdown-logout">Logout</button>
          </form>
      </div>
    </div>
    {% else %}
    <a class="btn-login" href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</nav>