:root {
  --nav-bg: #ffffff;
  --active-bg: #C3002F;

  --text-color: #222222;
  --white: #ffffff;
  --border-color: #000000;
  --navbar-height: 72px;

}

.navbar {
  background: var(--nav-bg);

  padding: 0 32px;


  height: var(--navbar-height);

  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}


.logo img {
  height: 40px;

  width: auto;

  display: block;
  object-fit: contain;
}


.nav-left {
  flex: 1;

  display: flex;
  align-items: center;
  height: 100%;
}

.nav-right {
  flex: 1;
  display: flex;

  align-items: center;
}

.nav-right {
  justify-content: flex-end;
}


.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;

  height: 100%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0;

  height: 100%;

}

.menu li {
  height: 100%;

  display: flex;

}

.nav-item {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s;


  display: flex;

  align-items: center;

  padding: 0 24px;

  height: 100%;

  border-radius: 0;

}

.nav-item:hover {
  background-color: #f0f0f0;
}


.nav-item.active {
  background-color: var(--active-bg);

  color: var(--white);
  font-weight: 600;
}




.btn-login {
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 6px 16px;
  font-size: 16px;
  transition: 0.2s;

  display: inline-block;
}

.btn-login:hover {
  background-color: #222;
  color: #fff;
}


.user-profile {
  text-decoration: underline;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  cursor: default;
}


.user-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid #ccc;
}


.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 1px solid #eee;
  border-radius: 0 0 8px 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.dropdown-content hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #eee;
}


.dropdown-logout {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  color: #d9534f;
  font-size: 14px;
}

.dropdown-logout:hover {
  background-color: #fff0f0;
}

.nav-left .dropdown-content {
  left: 0;
  right: auto;
  text-align: left;
}

.nav-left .logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}